{{define "ingestPage"}}

        <!DOCTYPE html> 
            <html>
                <head>
                <meta charset='utf-8'>
                <title>testint</title>
                </head>
                <body>
                    <div>
                        endpoint metho {{.Endpoint.Method}} <br>
                        endpoint URL {{.Endpoint.URL}} <br>
                        data {{.Data}} <br>
                        Send me your POSTS
                    </div>
                    <br>
                </body>
            </html>      
{{end}}